<html>
<head> 
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/gallery.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/dropDown.css" %}">
<script type="text/javascript" src="{% static "java/jquery-1.9.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "java/jquery-ui.js" %}"></script>
<script type="text/javascript" src="{% static "java/menuLoader.js" %}"></script>
<script type="text/javascript" src="{% static "java/menuLoader.js" %}"></script>
<script type="text/javascript" src="{% static "java/functions.js" %}"></script>
<script type="text/javascript">
    var currPic = 0;
    var numbPic = 0;

    function setPicIndex(x) {
        if (x >= 0 && x < numbPic) {
            currPic = x;
        } else if (x < 0) {
            currPic = 0;
        } else if (x == numbPic) {
            currPic = numbPic-1;
        }
    }

    $(document).ready(function(){
        var prev = '';
        var next = '';
        var curr = '';

        loadContent(getSiteString());
        loadMenu(true);

        var prev;
        $("#cssmenu").on("click", function(e) {
            if (e.toElement.href !== undefined) {
                e.stopImmediatePropagation();
                
                var href = e.toElement.href.split('/');
                if (href[href.length - 2] == 'fileLoader') {
                    loadFileContent('/administrationpage/fileLoader/' + href[href.length - 3] + '/');
                } else {
                    loadContent('/administrationpage/siteContent/' + href[href.length - 2] + '/');
                }

                return false;
            }
        });
        $("#cssmenu").on("mouseover", function(e) {
                if (e.toElement.href !== undefined) {
                e.stopImmediatePropagation();
                
                var href = e.toElement.href.split('/');
                if (href[href.length - 2] == 'fileLoader') {
                    loadFileContent('/administrationpage/fileLoader/' + href[href.length - 3] + '/');
                } else {
                    loadContent('/administrationpage/siteContent/' + href[href.length - 2] + '/');
                }

                return false;
            }
        });

        /*$(window).bind('beforeunload', function(e){
            console.log(e);
            e.preventDefault();
            return false;
        });*/
    });

    $(".pictureList").on("click", function(e) {
        setPicIndex(e.target.id);
        changePicture(e.target.src);
    });
    
    function setNumbPic(evt) {
        numbPic = $(".pictureList li").length;
    }

    $(document).keydown(function(e){
        if (e.keyCode == 37) { 
            setPicIndex(currPic-1);
            $( ".pictureList li img" ).each(function( key ) {
                if (currPic == $(this).context.id) {
                    changePicture($(this).context.src, $(this).context.alt);
                    return false;
                }
            });
        }

        if (e.keyCode == 39) { 
            setPicIndex(currPic+1);
            $( ".pictureList li img" ).each(function( key ) {
                if (currPic == $(this).context.id) {
                    changePicture($(this).context.src, $(this).context.alt);
                    return false;
                }
            });
        }
    });
    
    function upload(fileForm) {
        console.log(fileForm.description.value);

    }

    function logout() {
        console.log("logging out");
    }
    

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
</head>
<body>
    <form id="file" action="javascript:upload(file)">
        <input type="text" value="Description" name="description"/>
        <input type="submit" value="Upload"/>
    </form>

    <form action="javascript:logout()">
        <input type="submit" value="Logout"/></form>
    </form>

    <div class='center' id='logo'>
        <div class='center' id='cssmenu'></div>
    </div>

    <div class='center' id='siteContent'>Du har en gammal webläsare, för att se denna sida behöver du en modernare webläsare med javascript påslaget, så som:</br><ul><li><a href="http://www.opera.com">Opera</a></li><li><a href="http://www.firefox.com">Firefox</a></li><li><a href="http://www.chrome.com">Chrome</a></li></ul></div>

</body>
</html>
