<html>
<head> 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script type="text/javascript" src="{% static "java/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript">
        $('#loginform').submit(function(e){
            $.ajax({
                type:"POST",
                url:"/administrationpage/",
                data:$('#loginform').serialize(),
                success: function(msg){
                    console.log(msg);
                    window.location = msg;
                }
            });
            e.preventDefault();
        });
    </script>
</head>
<body>

    <div class='center' id='siteContent'>
        
        {% block content %}

            {% if form.errors %}
                <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}

            <form action="" method="post">{% csrf_token %} 
                <label for="username">User name:</label>
                <input type="text" name="username" value="" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" value="" id="password">

                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next|escape }}" />
            </form>

        {% endblock %}
    </div>
</body>
</html>