#gallery {
    height: 150px;
}

#gallery img {
    height: 100px;
}

#gallery > ul > li {
  float: left;
}

#active {
}

#inActive {
}

#pictureList img {
    height: 75px;
}

#picture {
    height: 400px;
}

#picture img {
    border-color: #101010;
    border-radius: 1px;
    box-shadow: 5px 5px 3px #888888;
    height: 400px;
}

