a:link {color:#000000; text-decoration:none;}      /* unvisited link */
a:visited {color:#000000; text-decoration:none;}  /* visited link */
a:hover {color:#FF0000; text-decoration:underline;}  /* mouse over link */
a:active {color:#FF0000; text-decoration:underline;}  /* selected link */

body{
	background-color: #FAFAFA;
	font-family: "Trebuchet MS, sans-serif";
	font-size: 13px; 
}

#siteContent {
	border-color: #101010;
	border-radius: 1px;
	box-shadow: 5px 5px 3px #888888;
	background-color: #FFFFFF;
	padding: 15px;
	margin-top:10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#logo {
	padding-top: 130px;
	background-image: url('../images/styles/logo.gif');
	background-repeat:no-repeat;
	background-size: 100%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
