a:link {color:#000000; text-decoration:none;}      /* unvisited link */
a:visited {color:#000000; text-decoration:none;}  /* visited link */
a:hover {color:#FF0000; text-decoration:underline;}  /* mouse over link */
a:active {color:#FF0000; text-decoration:underline;}  /* selected link */

body{
	background-color: #FAFAFA;
	font-family: "Tangerine, serif";
	font-size: 14px; 
}

#siteContent {
	border-color: #101010;
	border-radius: 1px;
	box-shadow: 5px 5px 3px #888888;
	background-color: #FFFFFF;
	padding: 15px;
}

.mainContent {
	float: left;
	width: 100%;
}

#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }

.list {
    float: left;
 	padding: 10px;
 	padding-right: 45px;
}

.image {
    float: left;
 	padding: 10px;
}

.newList {
	visibility: hidden;
	height: 0;
}

#login { background-color: #ffffff; }

.ui-menu .ui-menu-item {
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

#jquerymenu {
}

.ui-menu {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	position: absolute;
}
.scroll-content img { width: 102px; }
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { width: 2440px; float: left; }
.scroll-content-item { width: 100px; height: 100px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }

#picture img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
 	height: auto;
}

#logo {
	padding-top: 200px;
	background-image: url('../images/styles/024.jpg');
	background-repeat:no-repeat;
	background-size: 100%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
