<html>

<head>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function(){
		$("#click_test").click(function(){
			$("#test").toggle();
				return false;
		}); 

		$("#myform").submit(function() {

		    var myCheckboxes = new Array();
		    $("input:checked").each(function() {
		       myCheckboxes.push($(this).val());
		    });
		    $.ajax({
		        type: "POST",
		        url: '/main',
		        data: { myCheckboxes:myCheckboxes },
		        success: function(response){
		            alert(response);
		        }
		    });
		    return false;
		});

       $("#testForm").submit(function(event){
           event.preventDefault();
           $.ajax({
                type:"POST",
                url:"/test_results/"
                    });
       });
       
		$.ajax({
		     type:"POST",
		     url:"/menu/",
		    dataType: "json",

      complete: function() {
          console.log('Ajax Complete')
      },

      success: function(data) {
          points = data(fields.points)
          console.log('Ajax Successful')
          console.log(data);
     },

      error: function(xhr) {
          $('body').append('Whoops, something went wrong. XHR Response:' + JSON.stringify(xhr));
      },
		});
	});
</script>

</head>

<body>

        <form id="testForm" action="/test_results/" method="post">
            <input type="submit" id="go" name="go" value="Go!">
        </form>

<a href="#" id="click_test">Click Here</a>

<div id="test">write text here</div>

<b>Successful Response (should be blank):</b>
<div id="success"></div>
<b>Error Response:</b>
<div id="error"></div>
 
<script>
  </script>

        <ul>
        {% for poll in latest_poll_list %}
            <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>

</body>

</html>

